# Visual Studio Code cache/options directory
.vscode/*

# Local History for Visual Studio Code
.history/

# Visual Studio cache/options directory
.vs/

# Don't reveal secrets
arduino_secrets.h

# Arduino IDE 2 files
debug.cfg
debug_custom.json
esp32.svd
.DS_Store
